{
	"db": {
		"url": "http://<ArangoDB-IPAddress>:<port>",
		"dbName": "default",
		"auth": {
			"username": "<ArangoDB-User>",
			"password": "<ArangoDB-Password>"
		},
		"idField": "_id",
		"keyField": "_key"
	},
	"server": {
		"host": "127.0.0.1",
		"port": 8080
	},
	"ws": {
		"maxPayload": 4194304
	}
}