{
	"cors": {
		"allowedOrigins": ["http*://localhost*", "http*://*.surge.sh"]
	},
	"db": {
		"url": "http://<ArangoDB-IPAddress>:<port>",
		"dbName": "default",
		"auth": {
			"username": "<ArangoDB-Username>",
			"password": "<ArangoDB-Password>"
		},
		"idField": "_id",
		"keyField": "_key"
	},	
	"logger": {
		"pino": {
			"level": "trace",
			"prettyPrint": {
				"colorize": true,
				"translateTime": "SYS:standard"
			}
		}
	},
	"passport": {
		"github": {
			"clientID": "-----redacted-----",
			"clientSecret": "-----redacted-----",
			"callbackURL": "http://localhost:8080/auth/github/callback",
			"passReqToCallback": true,
			"scope": ["user:email"]
		},
		"google": {
			"clientID": "-----redacted-----.apps.googleusercontent.com",
			"clientSecret": "-----redacted------Rsyf",
			"callbackURL": "http://localhost:8080/auth/google/callback",
			"passReqToCallback": true
		},
		"linkedIn": {
			"clientID": "-----redacted-----",
			"clientSecret": "-----redacted-----",
			"callbackURL": "http://localhost:8080/auth/linkedin/callback",
			"scope": [
				"r_liteprofile",
				"r_emailaddress"
			],
			"passReqToCallback": true
		},
		"twitter": {
			"consumerKey": "-----redacted-----",
			"consumerSecret": "-----redacted-----",
			"callbackURL": "http://localhost:8080/auth/twitter/callback",
			"passReqToCallback": true
		}
	}
}