@import '../variables.scss';

#home-card.sidebar-card {
	& > .ant-card-cover {
		& > div.logo {
			background-color: change-color($logo-basecolor, $alpha: 1);
			box-shadow: 2px 4px #2c2d2b;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}
}