@import './variables.scss';

#home-card.sidebar-card {
	& > .ant-card-cover {
		& > div.logo {
			background-color: change-color($logo-basecolor, $alpha: 0.5);
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}
}