
$logo-basecolor:rgba(76, 175, 80, 1);

@mixin logo-font {
	font-family: 'Special Elite', cursive;
	font-size: 2rem;
}

$brandColor-github: #607D8B;
$brandColor-google: #ea4335;
$brandColor-linkedin: #007bb5;