/* Logo */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.skin-blue .main-header .logo {
	font-family: 'Poiret One', cursive;
	font-size: 28px;
	color:#fff ;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
	color:white;
	font-size: 28px;
}
@media (min-width: 768px) {
	.main-header .logo {
		background: url('img/mountain2.jpg') no-repeat;
	}
	.skin-blue .main-header .logo {
		font-family: 'Poiret One', cursive;
		font-size: 28px;
		color:#673AB7 ;
	}
}

/* Loading indictor */
.preloader {
	float: left;
	background-color: transparent;
	background-image: none;
	padding: 15px 15px;
	color: white;
	cursor: default;
}

/* tabs transparent background */
.nav-tabs-custom {
	background: rgba(255,255,255,0);
	box-shadow: 2px 1px 1px rgba(0,0,0,0.1);
}
.nav-tabs-custom>.tab-content {
	background: rgba(255,255,255,0);
}
.nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a {
	background: rgba(255,255,255,0);
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.box-footer {
	background-color: transparent;
}

/* xEditable input font size*/
.input-sm {
	font-size: 100%;
	line-height: 2;
}

/* tags input font sizes */
.label {
    line-height: 2;
	font-size: 100%;
}

/* fullscreen SMEditor */
.editor-toolbar.fullscreen, .CodeMirror-fullscreen {
	z-index: 9000 !important;
}

/* create tabpage options */
div.create-page .box-body {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

textarea#pageEditor-smde {
	width: 100%;
	height: 250px;
}

/* fullscreen overlay for page-preview */
.fsPreview { display: none; }
.fs-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(12,12,12,0.80);
  z-index: 1040; /* adminLTE header uses 1030 and our authmodal uses 1050 */
}
.fs-overlay-data {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.fs-overlay-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fs-overlay-close {
  width: 150px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #000;
  font-size: 14px;
}